body, html {
    height: 100%;
    scroll-behavior: smooth;
}

.ppp-bg-grid {
    background-image: repeating-linear-gradient(0deg, rgb(245, 245, 245) 0px, rgb(245, 245, 245) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(245, 245, 245) 0px, rgb(245, 245, 245) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, hsl(131,0%,98%),hsl(131,0%,98%));
}

.ppp-tsd-dark {
    text-shadow: 1px 1px #000000;
}

.ppp-tsd-white {
    text-shadow: 1px 1px #ffffff;
}

.ppp-pos-top {
    position: absolute;
    top: 0px;
}

.ppp-pos-bottom {
    position: absolute;
    bottom: 10px;
}

.ppp-img-dark {
    filter: brightness(70%);
}

.ppp-img-blur {
    filter: blur(.5px);
}

.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}